@model BrodyagaWeb.Models.Unit

@{
    ViewData["Title"] = "Підрозділ";
}

<h1>Ви впевнені, що бажаєте видалити?</h1>
<div>
    <h4>Підрозділ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderVal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderVal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">До переліку</a>
    </form>
</div>
