@model IEnumerable<BrodyagaWeb.Models.DictGoods>

@{
    ViewData["Title"] = "Майно";
}

<h1>Майно</h1>

<p>
    <a asp-action="Create">Створити нове</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DictGoodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DictMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Value)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |-->
                    <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
