@model IEnumerable<BrodyagaWeb.Models.GoodInStockImage>

@{
    ViewData["Title"] = "Зображення майна";
}

<h1>Зображення майна</h1>

<p>
    <a asp-action="Create">Нове</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoodInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (item.GoodInStock?.DictGoods != null)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.GoodInStock.DictGoods.Value)
                        </a>
                    }
            </td>
            <td>
                    @if (item.GoodImage != null)
                    {
                        <img src="@Html.DisplayFor(modelItem => item.GoodImage.ImageUrl)" alt="Sample Image" width="300px" />
                    }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <!--<a asp-action="Details" asp-route-id="@item.Id">Перегляд</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
